body {
  padding: 10px;
  color: #292029;
}

.popupBG {
    background-color: #5a83cd;
}

.card {
    background-color: #eeeeee;
    border-radius: 3px;
    box-shadow: 1px 1px 5px #000;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hide {
    display: none;
}

#mainPopup
{
		height: 215px;
		width: 300px;
}
